.font-11px{font-size: 11px!important;}
.font-14px{font-size: 14px!important;}
.font-18px{font-size: 18px!important;}
.font-bolds{font-weight: bold!important;}
.font-weight-400{font-weight: 400!important;}
.font-22px{font-size: 22px!important;}
.font-13px{font-size: 13px!important;}
.font-reds{color: #f00;}